*.json
*.txt
*.bag
*.bag.active
*.zip
*.log
*.pyc
**/__pycache__/
model/code/data/__pycache__/__init__.cpython-39.pyc
model/code/data/__pycache__/dataset.cpython-39.pyc
model/code/eval/__pycache__/__init__.cpython-39.pyc
model/code/eval/__pycache__/evaluator.cpython-39.pyc
model/code/models/__pycache__/__init__.cpython-39.pyc
model/code/models/__pycache__/localization.cpython-39.pyc
model/code/models/__pycache__/traj_pred.cpython-39.pyc
model/code/train/__pycache__/__init__.cpython-39.pyc
model/code/train/__pycache__/losses.cpython-39.pyc
model/code/train/__pycache__/trainer.cpython-39.pyc
model/code/utils/__pycache__/__init__.cpython-39.pyc
model/code/utils/__pycache__/camera.cpython-39.pyc
model/code/utils/__pycache__/process.cpython-39.pyc
model/code/utils/__pycache__/utils.cpython-39.pyc
